<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
    <body>
            <h1>Questions...</h1>
            <h2>This question paper have three sections...</h2><br />
            <h4>Section A have 10 questions of 1 mark each</h4>
            <h4>Section B have 4 questions of 5 marks each</h4>
            <h4>Section C have 4 questions of 10 marks each</h4><br />

            <h4>And each question have a difficulty level (easy, medium, hard)</h4>
    </body>
</html>